<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="../static/controller.js"></script>
    <title>Casa</title>
</head>

<body onload="getAllStates()">
    <div class="main">
        <p>Casa de Santiago</p>
    </div>
    <div class="devices">
        <p>Dispositivos</p>

        {% for device in devices %}
            {% if device['device_type'] == 'light' %}
                <a type="button" onclick="flipLightState({{ device['identifier'] }})" id="{{ device['identifier'] }}" class="boton material-symbols-outlined">{{ device['icon'] }}</a>
            {% elif device['device_type'] == 'switch' %}
                <a type="button" onclick="flipSwitchState('{{ device["identifier"] }}')" id="{{ device['identifier'] }}" class="boton material-symbols-outlined">{{ device['icon'] }}</a>
            {% endif %}
        {% endfor %}

    </div>
</body>

</html>